body {
  background-color: lightpink;
}
/* comment */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.avatar {
  width: 400px;
  border-radius: 32px;
  box-shadow: 12px 12px 22px rgb(220, 163, 163);
}

.contact h2 {
  text-align: center;
  color: #FDCBE7;
  font-size: 42px;
}

.form-group label {
  display: block;
  font-size: 28px;
  color: white;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  opacity: 1;
}

.hero-image {
  background-image: url("content/IMG_0220.jpg");
  background-color: #F3B6D3;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.85;
}

.animation_text {
  animation: color_change 10s infinite;
}

@keyframes color_change {
  0% {
    color: blue;
  }

  10% {
    color: white;
  }

  20% {
    color: black;
  }

  30% {
    color: blue;
  }

  40% {
    color: green;
  }

  50% {
    color: grey;
  }

  60% {
    color: yellow;
  }

  70% {
    color: blue;
  }

  80% {
    color: green;
  }

  90% {
    color: grey;
  }

  100% {
    color: blue;
  }
}