@import "https://unpkg.com/open-props";
@import "compass/css3";

body {
  background-color: lightpink;
}
/* It makes href black and with no underline */
a {
  color: black;
  text-decoration: none;
}
/* It makes href underline when I put a mouse cursor */
a:hover {
  text-decoration: underline;
}


::selection {
  background: #ff8080;
  color: #ffffff;
}

.avatar {
  width: 400px;
  border-radius: 32px;
  box-shadow: 12px 12px 22px rgb(220, 163, 163);
  cursor: none;
}

.contact h2 {
  text-align: center;
  color: #FDCBE7;
  font-size: 42px;
}

.form-group label {
  display: block;
  font-size: 28px;
  color: white;
}

.btn {
  border-radius: 46%;
  width: 9%;
  background-color: #ffcce0;
  color: black; 
  border: 3px solid #e0b8e0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffb3d1;
  color: #800033;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  opacity: 1;
  text-shadow: 0 0 3px white;
}

/*.placeholder {
  font-size: 28px;
  color: #000; 
  background-color: white; 
} */

::placeholder {
  font-size: 18px;
  color: white;
  opacity: 1;
  background-color: #ff000080;
}



.hero-image {
  background-image: url("content/IMG_0220.jpg");
  background-color: #F3B6D3;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 1;
  cursor: none;
}

.animation_text {
  animation: color_change 10s infinite;
  font-size: 42px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px red;
}

@keyframes color_change {
  0% {
    color: #ffffff;
  }

  10% {
    color: #ff6699;
  }

  20% {
    color: #ffb3ff;
  }

  30% {
    color: #ff5050;
  }

  40% {
    color: #990000;
  }

  50% {
    color: #ffccff;
  }

  60% {
    color: #ff80df;
  }

  70% {
    color: #990033;
  }

  80% {
    color: #ffe6f0;
  }

  90% {
    color: #ff0066;
  }

  100% {
    color: #f21a2c;
  }
}


.catbut {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-1);
  color: var(--gray-8);
  background: var(--gray-0);
  border: 0;
  padding: var(--size-1) var(--size-2);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

.catbut:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

.catbut:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

.catbut:before {
  content: "";
  position: absolute;
  inset: calc(var(--size-3) * -1);
  border: var(--size-2) solid var(--gray-0);
  transform: scale(var(--border-scale, 0));
  transition: transform 0.125s;
  
  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));
  
  mask: conic-gradient(
    transparent 0 var(--start-one),
    white var(--start-one) var(--end-one),
    transparent var(--end-one) var(--start-two),
    white var(--start-two) var(--end-two),
    transparent var(--end-two)
  );

  .roundedOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}

/* lamp chaNGING */

*
  box-sizing border-box

:root
  --on 0
  --bg 'hsl(%s, %s, %s)' % (calc(200 - (var(--on) * 160)) calc((20 + (var(--on) * 50)) * 1%) calc((20 + (var(--on) * 60)) * 1%))
  --cord 'hsl(0, 0%, %s)' % (calc((60 - (var(--on) * 50)) * 1%))
  --stroke 'hsl(0, 0%, %s)' % (calc((60 - (var(--on) * 50)) * 1%))
  --shine 'hsla(0, 0%, 100%, %s)' % calc(0.75 - (var(--on) * 0.5))
  --cap 'hsl(0, 0%, %s)' % calc((40 + (var(--on) * 30)) * 1%)
  --filament 'hsl(45, %s, %s)' % (calc(var(--on) * 80%) calc((25 + (var(--on) * 75)) * 1%))

body
  min-height 100vh
  display flex
  align-items center
  justify-content center
  background var(--bg)

.toggle-scene
  // !important for CodePen
  overflow visible !important
  height 50vmin
  position absolute

  &__cord
    stroke var(--cord)
    cursor move

    // Hide all cords if there's no JavaScript?
    &:nth-of-type(1)
      display none

    // Hide cords by default
    &:nth-of-type(2)
    &:nth-of-type(3)
    &:nth-of-type(4)
    &:nth-of-type(5)
      display none

    &-end
      stroke var(--cord)
      fill var(--cord)

.toggle-scene__dummy-cord
  stroke-width 6
  stroke var(--cord)

.bulb
  &__filament
    stroke var(--filament)
  &__shine
    stroke var(--shine)
  &__flash
    stroke hsl(45, 80%, 80%)
    display none
  &__bulb
    stroke var(--stroke)
    fill 'hsla(%s, 80%, 80%, %s)' % (calc(180 - (95 * var(--on))) calc(0.1 + (0.4 * var(--on))))
  &__cap
    fill var(--cap)
    &-shine
      fill var(--shine)
    &-outline
      stroke var(--stroke)