body {
  background-color: lightpink;
}
/* It makes href black and with no underline */
a {
  color: black;
  text-decoration: none;
}
/* It makes href underline when I put a mouse cursor */
a:hover {
  text-decoration: underline;
}

.avatar {
  width: 400px;
  border-radius: 32px;
  box-shadow: 12px 12px 22px rgb(220, 163, 163);
  cursor: none;
}

.contact h2 {
  text-align: center;
  color: #FDCBE7;
  font-size: 42px;
}

.form-group label {
  display: block;
  font-size: 28px;
  color: white;
}

.btn {
  border-radius: 46%;
  width: 9%;
  background-color: #ffcce0;
  color: black; 
  border: 3px solid #e0b8e0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffb3d1;
  color: #800033;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  opacity: 1;
}

.placeholder {
  font-size: 28px;
  color: #000;  
}

.check {
  text-shadow: 0 0 1px red;
}


.hero-image {
  background-image: url("content/IMG_0220.jpg");
  background-color: #F3B6D3;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 1;
  cursor: none;
}

.animation_text {
  animation: color_change 10s infinite;
  font-size: 42px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px red;
}

@keyframes color_change {
  0% {
    color: #ffffff;
  }

  10% {
    color: #ff6699;
  }

  20% {
    color: #ffb3ff;
  }

  30% {
    color: #ff5050;
  }

  40% {
    color: #990000;
  }

  50% {
    color: #ffccff;
  }

  60% {
    color: #ff80df;
  }

  70% {
    color: #990033;
  }

  80% {
    color: #ffe6f0;
  }

  90% {
    color: #ff0066;
  }

  100% {
    color: #f21a2c;
  }
}