body {
  background-color: lightpink;
}
/* comment */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.avatar {
  width: 400px;
  border-radius: 32px;
  box-shadow: 12px 12px 22px rgb(220, 163, 163);
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}